        
        </div>
    </body>

    <footer class="page-display" style="background-color: rgba(0,0,0,0.9);font-size:0.8rem;line-height:0.8rem">
        <p>Exoplanet Research Workshop | 
            <script>document.write(new Date().getFullYear())</script>
            <!-- <a href="https://github.com/paigeyeung/exoplanet-research-website" target="_blank">Source Code</a> -->
        </p>
    </footer>

    <script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</html>