@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@media only screen and (max-width: 600px) {
	.page-display, #nav {
		width: 90%;
	}
	.row {
		display: inline;
	}

	#contact .column {
		text-align: center;
	}

	.column {
		width: 100%;
	}
	.light-box {
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 900px) {
	.column {
		width: 100%;
	}
	.light-box .column {
		display: inline-block;
		background-size: contain;
		width: 92%;
		overflow: scroll;
		background-color: white;
		color: black;
		padding: 4%;
		margin-right: 1rem;
	}
}

@media only screen and (min-width: 900px) {
	.row {
		display: flex;
	}
	.column {
		flex: 46%;
		padding: 2%;
		margin:auto;
	}
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
	.page-display, #nav {
		width: 75%;
	}
}

@media only screen and (min-width: 900px) {
	.page-display, #nav {
		width: 70%;
	}
}
  
.content-container {
	display: block;
    width: 100%;
	margin: 0;
}

.header {
	background: url("/exoplanets.jpg");
	background-size: cover;
	display: block;
	width: 70%;
	align-items: center;
	overflow: scroll;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	margin: 0% 11% 0% 11%;
	padding: 1% 4%;
}

.page-display {
	display: block;
	width: 70%;
	align-items: center;
	overflow: scroll;
	background-color: rgba(33, 33, 33, 0.8);
	color: white;
	margin: 0% 11% 0% 11%;
	padding: 1% 4%;
}

footer p, footer a {
	text-align: center;
	color: rgb(255,255,255);
	opacity: 0.8;
}

.page-display-light {
	display: block;
	width: 70%;
	align-items: center;
	overflow: scroll;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	margin: 0% 11% 0% 11%;
	padding: 1% 4%;
}

.page-display-light a {
	color: black;
}

body {
    font-family: "Libre Franklin", system-ui, sans-serif;
    color: #fff;
	background-color: #333;
	background-image: url("/bg.png/"); /* linear-gradient(black,#44c); */
	background-attachment:fixed;
	line-height: 1.7rem;
	margin:0;
  	padding:0;
}

#site-title {
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 2.5rem;
}

h1 {
	font-size: 1.7rem;
}

h2 {
	font-size: 1.4rem;
	border-bottom: 5px solid rgb(131,195,255);
	width: fit-content;
	margin-top: 1rem;
}

a {
	color: #fff;
	text-decoration: none;
	transition: color 0.25s ease-in;
	border-bottom: 1px solid rgb(131,195,255);
}

.light-box a {
	color: #000;
}

a:hover, .light-box a:hover, #nav a:active {
	color: rgb(131,195,255);
}

.nav {
	position: relative;
	/* background-color: #000; */
	padding: 0;
	margin-top: 2%;
	padding-bottom: 2%;
	width: 100%;
    list-style: none;
	text-align: center;
}

#nav .nav-item {
	display: inline;
	text-align: center;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

/* input[type=text], input[type=email], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc; 
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	resize: vertical;
} */

ul li {
	margin-left: -1rem;
}
  
/* input[type=submit] {
	background-color: rgb(71, 166, 255);
	color: #fff;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	text-align: right;
	font-family: 'Open Sans',system-ui,sans-serif;
	font-weight: bold;
} */

.light-box {
	display: inline-block;
	background-size: contain;
	width: 92%;
	overflow: scroll;
	background-color: white;
	color: black;
	/* box-shadow: 0.25rem 0.25rem 2rem 0rem rgba(0, 0, 0, 0.15); */
	border-radius: 0rem;
	padding: 4%;
}

img {
	width: 100%;
	height: auto;
}